.section {
  padding-top: 120px;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 32px;
  margin-top: 48px;
  padding-bottom: 48px;
  position: relative;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -12px -6px 0;
}

.tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px 12px 0;
  cursor: pointer;
}

.image_container {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.image:hover {
  transform: rotate(180deg);
}

.button {
  margin-top: 8px;
  align-self: center;
  padding: 6px 12px;
  border-radius: 14px;
  background: none;
  color: var(--n4);
  font-family: "Outfit", sans-serif;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  font-size: 14px;
  line-height: 1.14286;
  font-weight: 700;
}

.button:hover {
  color: var(--n2);
}

.active {
  background: none;
  color: var(--n2);
}

.active:hover {
  color: var(--n2);
}

@media (max-width: 768px) {
  .wrapper {
    grid-template-columns: repeat(2, auto);
  }

  .image_container {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 474px) {
  .wrapper {
    grid-template-columns: repeat(1, auto);
  }
}
