.wrapper {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 32px;
  margin-top: 48px;
}

@media (max-width: 768px) {
  .wrapper {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 474px) {
  .wrapper {
    grid-template-columns: repeat(1, auto);
  }
}
