.footer {
  padding: 32px;
  background-color: var(--n8);
  border-top: 1px solid var(--n7);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .footer {
    display: none;
  }
}
